<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/unit/bootstrap.php"
>
    <testsuites>
        <testsuite name="AWS">
            <directory>tests/aws</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/integration</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
